# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local databases & logs
*.log
hospital.db

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
